body {
  background-color:#FFF;
  color:#000;
  font-family:sans-serif;
}

h1 {
  color:#000;
  font-size:2.5em !important;
  margin:1em 0px 0.5em 0px !important;
  font-family: 'Ropa Sans', sans-serif;
}

img {
}

div.permanent {
  margin-top:100px;
}

div.permanent label {
  color:#999;
}
