<h1>Edit Stack</h1>

<from>
  <ul>
    <li ng-repeat="slice in deck.slices">
      <input type="text" ng-model="slice.label" />
      <input type="text" ng-model="slice.percentage"/>
      <button ng-click="removeSlice($index);">Remove Slice</button>
    </li>  
  </ul>
  <button ng-click="addSlice();">Add Slice</button>
  <button ng-click="renderNewStack();">Update Stack</button>
</form>

<p>
  <img ng-init="renderNewStack();" ng-src="{{convertCanvasToImage()}}" width="400" height="400" />
</p>

<p>
  <p><a href="#/stack/{{deck.slices}}">View stack</a>
</p>

